.ContenedorServicesHome{
   
    text-align: center;
    display: grid;
    height: auto;
    margin-bottom: 20px;
    
}
.ServiciosCard{
display: grid;
grid-template-columns: repeat(4, 25%);
color: black;
height: auto;
}

.CardContent{
   
    height: auto;
}

.imgCard{
    height: 210px;
    width: 280px;
    border-radius: 5px;
}

.CardsColumContent{
    text-align: center;
    margin-left: 15px;
    margin: 5px;
}
.CardContent{
    
    width: auto;
    height: auto;
    box-shadow: rgba(6, 24, 44, 0.226) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 5px;
    padding: 10px;
 }
 .CardContent:hover{
    box-shadow: rgba(0, 0, 0, 0.466) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }

 

.TitleCard{
    color: black;
    font-size: 19px;
    font-weight: bolder;
}
.DescriptionCard{
    color: black;
}

.DetailCard{
    color: black;
}

 /* Media Queries para pantallas más pequeñas */
 @media (max-width: 768px) {

    .CardsColumContent{
        width: 50px;
    }
    .ServiciosCard{
        display: grid;
        grid-template-columns: repeat(2, 45%);
        color: black;
        padding: 1em;
    
          
        }
        .imgCard{
            height: 200px;
            width: 30px;
            border-radius: 5px;
        }
        
  }
  
  @media (max-width: 480px) {
    .tituloFicha {
      font-size: 1.3em; /* Reduce el tamaño del título */
    }
  
    .textoUno, .textoDos {
      font-size: 0.9em; /* Reduce el tamaño del texto */
    }
  }