.services-container {
    padding: 20px;
    text-align: center;
    background-color: #ffffff; 
  }
  
.Titulo_Sevices {
    font-size: 36px;
    margin-bottom: 5px;
  }
  
  .subheading {
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .services_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 8%;

}
  
.services_card {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: rgba(39, 39, 39, 0.5) 0px 22px 70px 4px;
    width: 280px;
    text-align: left;
  }

  .services_image {  
    height: 150px;
    background-color: #ddd; /* Color de fondo temporal */
    border-radius: 4px;
    margin-bottom: 15px;
    width: 260px;
    height: 197px
  }
  
  .Nombre_Services {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .Descripcion_Services {
    font-size: 14px;
    color: #000000;
  }


  @media screen and (min-width: 200px) and (max-width: 700px) {
    .services_grid {
        grid-template-columns: repeat(1, 1fr);
        gap : 20px;
        margin-left: 20%;
    }

    .service-card {
        width: 220px; /* Reducir el ancho de las tarjetas */
    }

    .Titulo_Sevices {
        font-size: 30px; /* Reducir tamaño de título */
    }

    .subheading {
        font-size: 16px; /* Reducir tamaño del subheading */
    }

    .service-image {
        height: 150px;
        border-radius: 4px;
        margin-bottom: 15px;
        width: 20%;
      }
}

/* Para pantallas entre 768px y 1024px (por ejemplo, tabletas) */
@media screen and (min-width: 700px) and (max-width: 1000px) {
    .services_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .service-card {
        width: 220px; /* Reducir el ancho de las tarjetas */
    }

    .Titulo_Sevices {
        font-size: 26px; /* Reducir tamaño de título */
    }

    .subheading {
        font-size: 14px; /* Reducir tamaño del subheading */
    }
}
