.bodyFicha {
  padding: 20px;
  background-color: #ffffff; 
  font-family: 'Arial', sans-serif; 
  color: #333; 
  text-align: center;
}

.TextoBienvenida {
  font-size: 70px; 
  font-weight: bold;
  margin-bottom: 20px;
  color: black; 
  line-height: 100%;
}

.Texto {
  font-size: 18px; 
  line-height: 1.6; 
  margin: 0 auto; 
  max-width: 800px; 
  color: black;
 
}

.Texto br {
  display: block;
  margin-bottom: 10px; 
}