.bodyRegister {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background:#FFFAFA; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Contenedor del título */
.divTitleRegister {
    background-color: #1E1E1E; /* Color de fondo de la barra */
    width: 100%; /* Ancho completo */
    height: 300px;
    padding: 20px 0; /* Espacio vertical dentro de la barra */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.iconRegister {
    width: 40px; /* Ajusta el tamaño según lo necesites */
    height: 40px;
    margin-right: -100px;
}

/* Contenedor del formulario que flota */
.register-container {
    max-width: 500px;
    width: 80%;
    padding: 40px;
    background-color: #EBE9E9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -30px; 
    z-index: 2; /* Se coloca encima de la barra */
    position: relative;
}
.divInputRegister{
    display: flex;
    align-items: center;
    padding: 1px 20px;
    margin: 10px 0;
    width: 95%;
}

.input-register {
    width: 100% !important;
    padding: 12px !important;
    border: none !important;
    font-size: 16px !important;
    outline: none !important;
    transition: border-color 0.3s !important;
}

.input-register:focus {
    border-bottom: 1px solid #1E1E1E;
}

.input-register::placeholder {
    color: #aaa;
}

.btn-Register{
    width: 50%;
    padding: 8px;
    background-color:#50C878;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -26px;
    font-weight: bold;
}

.btn-Register:hover {
    background-color: #1E1E1E;
}
.irALogin{
    font-weight:bold;
    text-decoration: none;
    margin-bottom: 3x;
    color: #1E1E1E;
}

.select-language {
    width: 85%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    margin: 10px 0;
    transition: border-color 0.3s;
}

.select-language:focus {
    border-color: #1E1E1E;
}
