footer {
  border-top: 1px solid #ffffff;

}
.container{
  margin-left: 12%;
}

.Footer_Style{
  background-color: rgb(194, 192, 192);
}

footer h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}

footer ul li a {
  transition: color 0.3s ease;
}


footer .col-md-2 ul {
display: grid;
grid-template-columns: repeat(4,2fr);
  gap: 1.5rem;
  margin-left: -15%;
}

footer .col-md-2 ul li a {
  font-size: 1.5rem; 
}