/* Estilos generales del navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #cecece; 
    color: #fff;
    width: 167.1%;
    height: 20%;
  }
  
  /* Logo del navbar */
  .navbar-logo img {
    height: 150px;
    margin-left: 30%;
  }
  
  /* Links del navbar */
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 80%;
    color: #ffffff;
  }
  
  .navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }



