.bodyLogin {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #FFFAFA; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.divTitleLogin {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -90px;
}
.login-title{
    font-weight: bold;
    font-size: 300%;
}
.login-container {
    max-width: 600px;
    width: 100%;
    padding: 40px;
    background-color: #EBE9E9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.input-icon {
    width: 25px;
    height: auto;
    margin-right: 3%;
}

.input-field {
    width: 100%;
    max-width: 450px;
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.input-field::placeholder {
    color: #aaa;
}

.btn-login {
    width: 50%;
    max-width: 300px;
    padding: 10px;
    background-color: #50C878;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #1E1E1E;
}

.goToHome {
    font-weight: bold;
    text-decoration: none;
    color: #1E1E1E;
    margin-bottom: -5%;
}

/*MEDIA QUERIE*/
@media (max-width: 768px) {
    .bodyLogin {
        padding: 20px;
        height: auto; /* Ajusta el alto si es necesario para scroll en pantallas pequeñas */
    }

    .login-wrapper {
        gap: 15px; /* Reduce el espacio entre elementos para pantallas pequeñas */
    }

    .divTitleLogin {
        margin-bottom: 15px;
        margin-top: 20px;
    }

    .login-title {
        font-size: 200%; /* Ajusta el tamaño del título */
    }

    .login-container {
        max-width: 100%; /* Asegura que el contenedor ocupe el ancho disponible */
        padding: 40px; /* Reduce el padding para pantallas más pequeñas */
    }

    .input-field {
        font-size: 14px; /* Reduce ligeramente el tamaño del texto */
        padding: 8px; /* Ajusta el espacio interno */
    }

    .btn-login {
        width: 100%; /* Asegura que el botón ocupe el ancho del contenedor */
        padding: 12px; /* Ajusta el espacio interno del botón */
        font-size: 14px; /* Reduce ligeramente el tamaño del texto */
    }

    .input-icon {
        width: 20px; /* Reduce el tamaño del ícono */
    }

    .goToHome {
        font-size: 14px; /* Ajusta el tamaño del texto */
    }
}


