body {
    font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #1E1E1E; /* Gris oscuro para los enlaces */
}


.dashboard-hero-tabs,
.dashboard-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #FFFFFF; /* Blanco para el fondo de las secciones */
    text-align: center;
    padding: 0 2em;
    border-radius: 8px; /* Agregamos un borde suave para hacerlo más moderno */
}
  
  
  .slogan-dashboard {
    color: #50C878; /* Gris oscuro para los subtítulos */
    font-size: 1.5rem;
    margin: 0;
  }
  
  .DashboardTitle {
    font-size: 6rem;
    margin: 0;
    font-weight: bold;
    display: inline-block;
}

.Dash, .Board {
    animation: colorChange 2s infinite alternate; /* Animación para cambiar el color */
}

.Dash {
    color: #1E1E1E;
}

.Board {
    color: #50C878;
}

@keyframes colorChange {
    0% {
        color: #1E1E1E;
    }
    100% {
        color: #50C878; /* Cambia a un segundo color */
    }
}

.TitleSlide{
    font-size: 6rem;
}
.SectionTitles{
    font-size: 3rem;
    font-weight: bold;
    color: #50C878;
}
.dashboard-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background: #FFFFFF; /* Blanco para el fondo de la barra de navegación */
    z-index: 10;
    border-top: 1px solid #C4C1C1; /* Línea divisoria gris claro */
}

.dashboard-hero-tabs-container--top {
    position: fixed;
    top: 0;
}

.dashboard-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #1E1E1E;
    transition: all 0.5s ease;
    font-size: 1.3rem;
    padding: 10px;
    font-weight: bold;
}

.dashboard-hero-tab:hover {
    color: #FFFFFF; /* Blanco para el texto al hacer hover */
    background: #50C878; /* Verde para el fondo de las pestañas al hacer hover */
    transition: all 0.5s ease;
}

.dashboard-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #50C878; /* Verde para la barra deslizante */
    transition: left 0.3s ease;
}
